#game-canvas {
	border: 1px solid #ddd;
}

.container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
	font-family: arial, sans-serif;
}

#highscore {
	text-align: left;
	position: fixed;
	top: 20px;
	left: 20px;
}
#highscore h3{
	margin-top: 0;
	margin-bottom: 20px;
}